<a href="/messages/new">Post a message</a>

<% @messages.each do |msg| %>
  <div class="message">
    <h3>
      <small>(by: <%= msg.author %>)</small>
    </h3>
    <% if msg.url %>
      <p>
        <a href="<%= msg.url %>"><%= msg.url %></a>
      </p>
    <% end %>
    <p>
      <%= msg.content %><br/>
      <a href="/messages/<%= msg.id %>">details</a>
    </p>
  </div>
<% end %>


