<h1>Add New Actor</h1>

<%= form_for [@movie,@actor] do |f| %>
  <div class="form-group">
    <%= f.label :firstname %><br/>
    <%= f.text_field :firstname, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :lastname %><br/>
    <%= f.text_field :lastname, class: 'form-control' %>
  </div>

  <%= f.fields_for :roles do |ff| %>
    <%= ff.hidden_field :movie_id, value: @movie.id %>
    <div class="form-group">
      <%= ff.label :name, "Role" %><br/>
      <%= ff.text_field :name, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>

<% end %>
