<h1>Users</h1>
<%= link_to 'Create new user', new_user_path %>
<%= paginate @users %>
<p>
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-md-2">
        <%= link_to full_name(user), user_path(user) %>
      </div>

      <div class="col-md-2">
        <%= link_to  edit_admin_user_path(user) do %>
          <span class="glyphicon glyphicon-pencil"></span> edit
        <% end %>
      </div>

      <div class="col-md-2">
        <%= link_to admin_user_path(user), method: :delete, data: { confirm: 'You sure?' }, class: 'delete-link'  do %>
          <span class="glyphicon glyphicon-remove"></span> delete
        <% end %>
      </div>
    </div>
  <% end %>
</p>
