<h1>Users</h1>
<%= link_to 'Create new user', new_user_path %>
<%= paginate @users %>
<p>
  <% @users.each do |user| %>
    <%= link_to full_name(user), user_path(user) %>
    <%= link_to 'edit', edit_user_path(user) %>
    <%= link_to 'delete', user_path(user), method: :delete, data: { confirm: 'You sure?' } %>
    <br/>
  <% end %>
</p>
