<h1>Rotten Mangoes</h1>

<%= link_to "Submit a movie!", new_movie_path %>

<h2>Find a movie</h2>
<%= form_tag('/movies', method: 'get') do %>
  <div class="form-group">
    <%= label_tag(:title_or_director) %><br/>
    <%= text_field_tag(:title_or_director, '', class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= label_tag(:duration) %><br/>
    <%= select_tag(:duration, options_for_select(
                                [['',''],
                                ['Under 90 mins', '< 90'], 
                                ['Between 90-120 mins', 'BETWEEN 90 AND 120'],
                                ['Over 120 mins', '> 120']]),
                              class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= submit_tag("Search", class: 'btn btn-primary') %>
  </div>
<% end %>

<% unless @search_params.empty? %>
  <h2>You searched for: <%= @search_params.join(',') %></h2>
  <% @results.each do |result| %>
    <%= result.title %><br/>
    <%= result.release_date %><br/>
    Dir. <%= result.director %> | <%= result.runtime_in_minutes %> minutes<br/>
    <p><%= result.description %></p>
  <% end %>

  <% @search_params.clear %>
<% end %>

<hr>

<% @movies.each do |movie| %>
  <%= render partial: 'movies', locals: {movie: movie} %>
<% end %>
