<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2><%= @movie.title %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-1">
    <%= image_tag(@movie.image.thumb.url) %>
    
    <div class="movie-control">
    <% if logged_in? %>
      <p>
        <%= link_to '#', "data-toggle" => "modal", "data-target" => "#add-movie-modal" do %>
          <span class="glyphicon glyphicon-pencil"></span> edit
        <% end %>
        <br/>
        <%= link_to movie_path(@movie), class: 'delete-link', method: :delete, data: {confirm: "You sure?"} do %>
          <span class="glyphicon glyphicon-trash"></span> delete
        <% end %>
      </p>
    <% end %>
  </div>

    <h4>Average review: <%= @movie.review_average %>/10</h4>
    <h4><%= formatted_date(@movie.release_date) %></h4>
    <h4>Directed by <%= @movie.director %> | <%= @movie.runtime_in_minutes %> minutes</h4>

    <p><%= @movie.description %></p>

    <h3>Cast</h3>
    <% if logged_in? %>
      <%= link_to 'Add a new actor/actress', '', class: 'toggle-form-link' %>
      
      <div class="toggle-form">
        <%= render 'shared/close_btn' %> 
        <%= render 'actors/add_actors' %>
      </div>
    <% end %>
      
    <% @movie.roles.each do |role| %>
      <p>
        <%= role.name %>: <%= full_name(role.actor) %>
      </p>
    <% end %>
    <div id="movie-cast"></div>
  </div>

  <div class="col-md-6">
    <h3>Reviews</h3>
   
    <div id="movie-review"></div> 

    <% if @reviews.exists? %>
      <% @reviews.each do |review| %>
        <p><%= review.text %></p>
        <p><%= review.rating_out_of_ten %>/10</p>
        Reviewed by: <%= link_to full_name(review.user), user_path(review.user) %></small></br/>
      <% end %>
    <% end %>
    
    <hr/>
    <% if logged_in? && !current_user.reviewed?(@movie) %>
      <%= link_to "Write a review!", '', class: 'toggle-form-link' %>
    
      <div class="toggle-form">
        <%= render 'shared/close_btn' %>
        <%= render 'reviews/add_review' %>
      </div>  
    <% end %>
  </div>


</div>
