<h1><%= @song.title %></h1>

<p>
  Artist: <%= @song.author %><br/>
  Added <%= @song.song_added_date %> by <%= @song.user.name %>
  <br/>
  <% if @song.url %>
    <a href="<%= @song.url %>"><%= @song.url %></a>
  <% end %>
</p>

<h2>Other songs added by <%= @user.name %></h2>
<p>
  <% @more_songs.each do |song| %>
    <h3><%= song.title %></h3>
    Artist: <%= song.author %><br/>
    Added <%= song.song_added_date %><br/>
    <% if song.url %>
      <a href="<%= song.url %>"><%= song.url %></a>
    <% end %>
  <% end %>
</p>

<p><a href="/">Back to previous page</a></p>
