<div class="jumbotron text-center">
  <h1>Music Wall</h1>
  
  <% if @current_user %>
    <h2>Hello <%= @current_user.name %>!</h2><br/>
    <a href="/new-song">add a new song</a> or <a href="/logout">log out</a>
  <% else %>
    <a href="/signup">Sign up</a> or <a href="/login">log in</a>
  <% end %>
</div>

<div class="song-wall">
<% if @songs %> 
  <div class="bg-danger text-danger">
    <%= @error if @error %>
  </div>

  <% @songs.each do |song| %>
  <div class="song">
    <div class="song-info">
	    <h3><a href="/song-<%= song.id %>"><%= song.title %></a></h3>
	    <a href="<%= song.url %>"><%= song.url %></a><br/>
	    Added by <%= song.user.name %> on <%= song.song_added_date %><br/>
    </div>

    <div class="votes">
      <% if @current_user %>
	      <form method="POST" action="/song-<%= song.id %>/upvote">
	        <button type="submit" class="btn btn-vote">Upvote</button>
	      </form>
      <% end %>
      Votes: <strong><%= song.votes %></strong>
    </div>
   </div>
   <% end %> 
<% end %>
</div>
